.setup {
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  align-items: center;

  height: var(--window-height);
}

.setup > * {
  margin: 8px 0;
}

.name {
  font-size: min(25vmin, 16rem);
  font-weight: 700;

  margin-bottom: auto;
}

.name > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brain {
  height: 27vmin;
  
  padding-top: 4vmin;
}

.inputs {
  width: 60vmin;
}

.inputs input {
  width: 100%;
  box-sizing: border-box;
  
  margin-bottom: -1px;
  text-align: center;
  
  font-size: 8vmin;

  border: none;
}

.inputContainer {
  border: 1px transparent solid;
  border-top-left-radius: var(--gap);
  border-top-right-radius: var(--gap);

  padding-bottom: 4vmin;
  margin-bottom: -4vmin;

  overflow: hidden;

  height: 0;
  transition: height 0.25s var(--curve);
}

.inputContainer.active {
  border: 1px solid var(--grey);
  height: 10vmin;
}

.inputs button {
  width: 100%;
}

.groupToggle {
  display: flex;
  align-items: center;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.groupToggle > * {
  margin: 0 2vmin;
}

.groupToggle span {
  font-size: 10vmin;
}

.activeMode {
  border-bottom: 1px solid var(--accent-subtle) !important;
}

.toggleIndicator {
  width: 20vmin;

  padding: calc(var(--gap) / 2);

  background-color: var(--grey);
  border-radius: 10vmin;

  display: flex;
  align-items: center;
}

.toggleIndicator span {
  color: var(--white);
  background-color: var(--accent-subtle);
  border-radius: 50%;

  position: relative;
  left: 0px;

  transition: left 0.25s var(--curve), transform 0.25s var(--curve);
}

.toggleIndicator .active {
  left: 10vmin;
  transform: rotate(180deg);
}

:global(.dark-mode) .toggleIndicator span {
  color: #FFF;
}


.explainer {
  width: 80vw;
  font-size: 1.25rem;
  color: transparent;

  transition: color 0.25s var(--curve);
}

.explainer > * {
  color: transparent;
  transition: color 0.25s var(--curve);
}

.explainer.active {
  color: var(--black);
}

.explainer.active > * {
  color: var(--black);
}

.actionIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: auto;
}

@media (min-width: 720px) {
  .actionIcons {
    position: fixed;
    right: 0;
    
    flex-direction: column;
  }

  .explainer {
    text-align: center;
    font-size: 1.5rem;
    margin: 16px;
  }
}

.actionIcon {
  font-size: calc(max(1.5rem, var(--grid-size) / 8));

  margin: var(--gap);
  padding: calc(var(--gap) / 4);
  background-color: var(--grey);
  border-radius: 8px;

  cursor: pointer;
}
