/* Vars */
body {
  --gap: 16px;
  --grid-size: min(calc(100vmin - 2 * var(--gap)), 600px);

  --white: #ffffffff;
  --grey: #eeeeeeff;
  --grey-hover: #ccccccff;
  --grey-active: #aaaaaaff;
  --black: #130303ff;
  --accent-bold: #db162fff;
  --accent-subtle: #1098f7ff;

  --curve: cubic-bezier(1.000, -0.650, 0.000, 1.650);

  --serif-fonts: Georgia, Garamond, "Times New Roman", Times, serif;
}

.dark-mode {
  --white: #1d1d1dff;
  --grey: #444444ff;
  --grey-hover: #666666ff;
  --grey-active: #888888ff;
  --black: #d8d8d8ff;
  --accent-bold: #db162fff;
  --accent-subtle: #1098f7ff;
}

/* Mobile Vars */
@media (max-width: 380px) {
  body {
    --gap: 8px;
    --grid-size: calc(100vmin - 2 * var(--gap));
  }
}

/* Styling */
body {
  padding: 0;
  margin: 0;

  background-color: var(--white);
}

/* Shared */
* {
  color: var(--black);
  font-family: var(--serif-fonts);
}

svg {
  fill: var(--black);
}

input {
  appearance: none;
  color: var(--black);
  background-color: var(--white);
}

button, input[type="submit"] {
  appearance: none;

  font-weight: 700;
  font-size: calc(max(var(--grid-size) / 10, 1.5rem));
  text-transform: uppercase;
  
  border: none;
  border-radius: var(--gap);
  
  padding: 0 var(--gap);
  
  justify-self: stretch;
  
  background-color: var(--grey);
  transition: background-color 0.2s;
  
  cursor: pointer;
}

button:hover, input[type='submit']:hover {
  background-color: var(--grey-hover);
}

button:active, input[type='submit']:active {
  background-color: var(--grey-active);
  transition: background-color 0s;
}

.material-icons {
  user-select: none;
}
