.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewWordList {
  width: 100vw;
  box-sizing: border-box;

  font-size: calc(max(1.25rem, var(--grid-size) / 12));

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--longest-length));
  gap: var(--gap);

  padding: var(--gap);
}

.reviewWordList > span {
  font-size: calc(max(1.25rem, var(--grid-size) / 12));
  width: min-content;
  
  cursor: pointer;
}

.reviewWordList > .crossed {
  text-decoration: line-through;
  text-decoration-color: var(--accent-bold);
}

.score {
  margin: var(--gap);
  margin-top: auto;
  
  font-size: calc(var(--grid-size) / 12);
  font-weight: 700;
}

.restartButton {
  margin-bottom: var(--gap);
}
